<!--
<p>
  wait works!
</p>
-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1 style="color:#C40B0F;"><strong style="color:#150F54;">Turkers,</strong> Assemble!</h1>
        <h3>We need totally 2 workers to start the experiement.
           <br>There are <strong style="color:#C40B0F">{{users_number}}</strong> online workers right now.<br> 
           When we have 2 workers, a pop-up will inform you that the experiment is starting. You will get additional instructions then.

           <br><br>You can go do other things until we get enough workers.<br>But <strong>Don't Close This Page.</strong>
           </h3>
    </div>
</div>