<!--
<p>
  login works!
</p>
-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1 style="color:#C40B0F;"><strong>Welcome!</strong></h1>
        <h3>Remember to <strong>ACCEPT</strong> the HIT on MTurk site before starting.<br> 
        Accepting the HIT is required for you to get paid.<br><br>
        After you’ve accepted the HIT, enter your TurkID below and click submit.<br> 
        Then, you will be sent to a page that you will need to keep open while other’s join in. 
        Once we have enough people ready, the experiment will begin.</h3> 
        <!--   <br>There are <strong style="color:#C40B0F">{{users_number}}</strong> Online Workers Right Now</h3> -->
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-sm-offset-2 form-box">
        <table>
            <tr>
                <td><strong>Input Your MTurk ID:</strong></td>
                <td><input type="text" #account></td>
            </tr>
            <!--
            <tr>
                <td>Input Your MTurk Account Again:</td>
                <td><input type="text" #accountSec ></td>
            </tr>
            -->
        </table>
<!--
        <div class="form-group">
            Input Your MTurk Account: <input type="text" #account> 
        </div>
        <div class="form-group">
            Input Your MTurk Account Again: <input type="text" #accountSec >
        </div>
        -->
        <div class="form-group" ng-if="err_message">
            <strong style="color:#C40B0F">{{err_message}}</strong>
        </div>

        <!--<div ng-show="check">
            <p>
            testinggggg {{check}}
            </p>
        </div>
        -->
        <br>
        <button (click)="login(account.value)">Join Experiment</button>
    </div>
<!--{{time}}-->
</div>
<br>

<!--
<h2>Number Of Online users Right Now:{{users_number}}</h2> 
<h3>Random number will be saved in MTurk verification: {{random_number}}</h3>
-->
<!--
<button (click)="signOut()">Sign Out</button>
<button (click)="signIn(account.value,password.value)">Sign in</button>
-->
<!--
Input Your MTurk account: <input type="text" #account> <br>
Verify Your MTurk account again: <input type="text" #accountSec >
-->

<!--<button (click)="login(account.value,accountSec.value)">Join Experiment</button>
-->
<!--
<p ng-if="err_message">{{err_message}}</p>
-->
<!--
Input your MTurk password:<input type="password" #password>
-->
