<!--
<p>
  formtwo works!
</p>
-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1 style="color:#C40B0F;"><strong style="color:#150F54;">Form</strong> Two</h1>
        <h3>Please enter your answer.
           <br>The experiement is almost finished.
           <br>After submitting, you will get the <strong style="color:#C40B0F;">Survey Code</strong> for your payment.
           <br><br>2+2=<input type="text" #ans style="width:100px;">
           <button (click)="submit(ans.value)">Submit</button>
           </h3>
    </div>
</div>
<!--
2+2=<input type="text" #ans>
<button (click)="submit(ans.value)">Submit</button>
-->